---
---

@import "{{ site.theme }}";

#header nav ul li a {
    background: linear-gradient(#b581d4, #742de7);
    background-color: #8320bd;
    border: 1px solid #b456da;
}

#header nav ul li a:hover {
    background: linear-gradient(#c3a9d3, #9063da);
    background-color: #8c56ac;
    border: 1px solid #d4b7df;
}

#header nav ul li.fork {
    padding: 0px 2px;
}

a {
    color: #742de7;

    &:hover {
        color: #b581d4;
    }
}

.anchor {
    text-decoration: none;
    color: inherit;
}